<li class="lg:-ml-5">
  <a href="#" class="flex flex-col leading-loose p-5 lg:p-10 hover:bg-sky-200">
    <span class="text-3xl font-black underline underline-offset-2">
      <%- title %>
    </span>
    <span class="uppercase text-xl">
      <strong>Aug 18, 2022</strong>
    </span>
  </a>
</li>
