<div
  class="flex flex-row lg:flex-col justify-between lg:justify-start items-center lg:items-start"
>
  <div class="lg:mb-5">
    <a href="/" class="text-4xl font-semibold whitespace-nowrap">{ BLOG }</a>
  </div>
  <nav class="lg:w-full">
    <ul class="flex flex-row lg:flex-col">
      <!-- <li><a href="https://ertugrul.me">Home</a></li> -->
      <li><a href="/life">Life</a></li>
      <li><a href="/tech-stack">Tech stack</a></li>
    </ul>
  </nav>
</div>
