<nav class="h-full lg:max-w-xs mb-10">
  <h2 class="text-2xl font-semibold text-center">Welcome to dashboard</h2>
  <ul class="border-b border-t border-gray-200 my-2 py-2">
    <li><a href="/dashboard" class="text-lg">Logs</a></li>
    <li><a href="#" class="text-lg">Drafts</a></li>
  </ul>
  <div class="max-w-xs mx-auto">
    <a href="/add-log" class="btn-link block text-center">Add new log</a>
  </div>
</nav>
