<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Blog</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <h1 class="mt-10 text-4xl font-semibold text-center">What happened?</h1>

    <% if(error !== false){ %>
    <div
      class="max-w-lg p-5 mx-auto mt-10 text-red-600 bg-red-100 border-l-4 border-red-600 border-solid"
    >
      <p><%= error %></p>
    </div>
    <% } %>

    <form class="max-w-lg mx-auto my-10" action="/post" method="post">
      <div class="mb-4">
        <input
          type="text"
          name="title"
          id="title"
          maxlength="80"
          placeholder="See something..."
        />
      </div>
      <div class="mb-4">
        <textarea
          name="content"
          id="content"
          rows="6"
          placeholder="Say something..."
          maxlength="240"
        ></textarea>
      </div>
      <div class="mb-4">
        <input
          type="text"
          name="author"
          id="author"
          maxlength="40"
          placeholder="And your name, author?"
        />
      </div>
      <div class="flex items-center justify-between action-buttons">
        <a href="/" class="hover:underline hover:underline-offset-2"
          >Back to the Future</a
        >
        <button
          class="px-4 py-2 text-blue-500 bg-blue-200 rounded-lg hover:bg-blue-500 hover:text-white hover:ring-2 hover:ring-offset-2 hover:font-semibold hover:ring-blue-500"
        >
          Share it!
        </button>
      </div>
    </form>
  </body>
</html>
